/*  
######################   
	Utility 
###################### 
*/
 

  .mb-10{
  margin-bottom:10px
 }
 .mb-20{
  margin-bottom:20px
 }
  .mb-40{
  margin-bottom:40px
 }
  .mb-60{
  margin-bottom:60px
 }
  .mb-80{
  margin-bottom:80px
 }

.mt-10{
  margin-top:10px
 }

 .mt-20{
  margin-top:20px
 }

 .mt-40{
  margin-top:40px
 }

 .mt-60{
  margin-top:60px
 }

  .mt-80{
  margin-top:80px
 }